.container {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #f6f6f6;
}

.l-p1 {
  width: 20%;
  height: 100%;
  color: #fff;
  position: fixed;
  font-size: 14px;
  text-align: left;
  background-color: #000000f7;
}

.r-p1 {
  margin-left: 20%;
}

.sidebar-parent {
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;;
}

.sidebar-user-url {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.sidebar-user-photo {
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar-user-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.sidebar-user-content {
  margin-left: -20px;
  margin-right: -20px;
}

.sidebar-user-name {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar-user-title {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.sidebar-navigation {
  margin: 25px 0px;
  line-height: 30px;
  position: relative;
  font-size: 14px;
}

.sidebar-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-navigation li {
  position: relative;
  padding: 0 20px;
}

.sidebar-navigation a {
  color: #ccc;
  display: block;
  text-decoration: none;
}

.sidebar-social {
  margin-top: 25px;
  padding: 0px 20px;
  font-size: 22px;
}

.sidebar-title {
  font-size: 11px;
  font-weight: 300;
  color: #aaa;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.sidebar-content {
  font-size: 22px;
}

.sidebar-button {
  padding: 0;
  color: #ccc;
  line-height: 1;
  margin-right: .5em;
  display: inline-block;
  text-decoration: none;
}

.sidebar-icon {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

.contact-parent {
  max-width: 850px;
  padding: 50px;
  background-color: #fff;
  color: #333;
}

.contact-title {
  line-height: 1;
  margin-bottom: 15px;
  color: #555;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.contact-section {
  overflow: hidden;
}

.contact-row {
  margin: 10px 0px;
}

.contact-label {
  display: block;
  clear: both;
  width: 150px;
  float: left;
}

.contact-value {
  display: block;
  margin: 0;
}